<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/dist/index.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <!-- navbar - start -->
    <nav>
        <a href="" class="brand">GEEK</a>
        <ul class="desktop-menu">
            <li><a href="#intro">Intro</a></li>
            <li><a href="#about">About Me</a></li>
            <li><a href="#contact">Get in Touch!</a></li>
        </ul>
        <a href="" class="cv-btn" download="My CV">
            My CV
        </a>
        <!-- mobile - start -->
        <div class="hamburger-wrapper">
            <div class="hamburger">
                <div class="line top"></div>
                <div class="line mid"></div>
                <div class="line bottom"></div>
            </div>
        </div>
        <div class="mobile-menu">
            <ul>
                <li><a href="#intro">Intro</a></li>
                <li><a href="#about">About Me</a></li>
                <li><a href="#contact">Get in Touch!</a></li>
                <li><a href="cv/" download="My CV">My CV</a></li>
            </ul>
        </div>
        <!-- mobile - end -->
        <!-- light/dark mode - start -->
        <div class="mode-wrapper">
            <i class="fas fa-lightbulb"></i>
        </div>
        <!-- light/dark mode - end -->
    </nav>
    <!-- navbar - end -->

    <!-- intro section - start -->
    <section class="intro">
        <!-- intro section content - start -->
        <div class="container">
            <div class="column">
                <div class="content">

                    <p>Hi, my name is Kacper and I'm a</p>
                    <h1>GEEK</h1>
                    <div class="button-group">
                        <a href="" class="button-cv" download="portfolio">
                            Download my CV
                        </a>
                        <a href="" class="button-contact">
                            Say Hello_!
                        </a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <svg width="100%" height="auto" viewBox="0 0 621.17035 518.9171" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <filter filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB" id="filter_1">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                <feOffset dx="10" dy="10" />
                                <feGaussianBlur stdDeviation="0" />
                                <feColorMatrix type="matrix" values="0 0 0 0 0.39215687 0 0 0 0 0.39215687 0 0 0 0 0.39215687 0 0 0 0.2 0" />
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect0_dropShadow" />
                                <feBlend mode="normal" in="SourceGraphic" in2="effect0_dropShadow" result="shape" />
                            </filter>
                        </defs>
                        <g id="image" transform="translate(0.5 0.5)">
                            <path d="M180.5 2.4726C145.625 12.4726 130.875 12.4725 94.5001 39.4726C58.1249 66.4726 53.6255 75.2226 30 110.473C6.37514 145.723 0 204.348 0 269.473C0 334.598 19.7083 403.738 74.0001 445.973C128.292 488.207 152.126 493.473 248 503.473C343.875 513.473 457.501 503.473 457.501 503.473C457.501 503.473 504.124 489.473 538.5 463.473C572.875 437.473 577.125 430.098 595 399.473C612.875 368.848 610 318.473 610 318.473C610 318.473 598.875 181.098 595 151.473C591.125 121.848 571 30.4725 516.499 20.4725C461.999 10.4725 415.376 38.6634 361.5 39.4726C307.625 40.2817 297.75 25.2225 279.5 20.4725C261.25 15.7225 215.374 -7.52741 180.5 2.4726Z" id="Vector" fill="#272727" fill-rule="evenodd" stroke="none" filter="url(#filter_1)" />
                        </g>
                    </svg>
                </div>
            </div>
        </div>
        <!-- intro section content - end -->
    </section>
    <!-- intro section - end -->

    <!-- about section - start -->
    <section class="about">
        <!-- about me text - start -->
        <div class="band">
            <div class="container">
                <div class="column">
                    
                </div>
                <div class="column">
                    
                </div>
            </div>
        </div>
        <!-- about me text - end -->
        <!-- about me, skills - start -->
        <div class="container">
            <div class="wrapper wrapper-1">
                <div class="icon-wrapper">
                    <i class=""></i>
                </div>
                <div class="text-wrapper">
                    <p>

                    </p>
                </div>
            </div>
            <div class="wrapper wrapper-2">
                <div class="icon-wrapper">
                    <i class=""></i>
                </div>
                <div class="text-wrapper">
                    <p>

                    </p>
                </div>
            </div>
            <div class="wrapper wrapper-3">
                <div class="icon-wrapper">
                    <i class=""></i>
                </div>
                <div class="text-wrapper">
                    <p>

                    </p>
                </div>
            </div>
            <div class="wrapper wrapper-4">
                <div class="icon-wrapper">
                    <i class=""></i>
                </div>
                <div class="text-wrapper">
                    <p>

                    </p>
                </div>
            </div>
            <div class="wrapper wrapper-5">
                <div class="icon-wrapper">
                    <i class=""></i>
                </div>
                <div class="text-wrapper">
                    <p>

                    </p>
                </div>
            </div>
        </div>
        <!-- about me, skills - start -->
    </section>
    <!-- about section - end -->

    <!-- footer - start -->
    <footer>
        <!-- contact container - start -->
        <div class="container">
            <div class="column">
                <form action="" method="post">
                    <div class="input-group">
                        <input type="email" name="" id="">
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>
                    <button type="submit">
                        Say Hello_
                    </button>
                </form>
            </div>
            <div class="column">
                <div class="info-wrapper">
                    <p></p>
                </div>
                <div class="social-wrapper">
                    <div class="icon-wrapper">
                        <i class=""></i>
                    </div>
                    <div class="icon-wrapper">
                        <i class=""></i>
                    </div>
                    <div class="icon-wrapper">
                        <i class=""></i>
                    </div>
                    <div class="icon-wrapper">
                        <i class=""></i>
                    </div>
                </div>
                <div class="bottom">
                    <a href="" class="cv-btn" download="Kacper M. CV">
                        Download my CV
                    </a>
                    <div class="contact-info">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact container - end -->
        <!-- foot - start -->
        <div class="bottom">
            <div class="container">
                <p></p>
            </div>
        </div>
        <!-- foot - end -->
    </footer>
    <!-- footer - end -->
    
</body>
</html>