
//Fonts
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
$primaryFont: 'IBM Plex Sans Condensed', sans-serif;
$secondaryFont: 'IBM Plex Sans', sans-serif;
// Colors:
$primary: #272727;
$secondary: #f0f8ff;

:root{
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    font-family: $secondaryFont;

    color: $primary;
    background-color: $secondary;

    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

blockquote{
    margin: 0;
}

a{
    text-decoration: none;
}

img{
    user-select: none;
}

section{
    margin: 50px 0;

    height: auto;
    width: 100vw;
}

@mixin min($bp, $max: "null", $device: "screen") {
    @if $max == "null" {
        @media only #{$device} and (min-width: #{$bp}) {
            @content;
        }
    } @else {
        @media only #{$device} and (min-width: #{$bp}) and (max-width: #{$max}) {
            @content;
        }
    }
}

@function bp($bp) {
    @return map-get($breakpoints, $bp);
}

$breakpoints: (
    na: 0px,
  // For BS grid
    xs: 320px,
  // Smartphone
    sm: 600px,
  // Tablets
    md: 900px,
  // Tablets Landscape and small desktops
    lg: 1200px,
  // Desktops
    xl: 1800px,
  // Large Desktop
    xxl: 2400px
  // Extra large desktops
);

@function container($container-size, $true-val: false) {
    @return map-get($container-sizes, $container-size);
}

$container-sizes: (
    sm: map-get($breakpoints, sm) - 30px,
    md: map-get($breakpoints, md) - 40px,
    lg: map-get($breakpoints, lg) - 50px,
    xl: map-get($breakpoints, xl) - 400px,
    xxl: map-get($breakpoints, xxl) - 200px
);

.container,
.inside__container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-areas: 'a a';
    align-items: center;
    gap: 10%;
    &{
        margin: 0 auto;
        @each $bp, $container-size in $container-sizes {
            @include min(#{bp(#{$bp})}) {
                width: 100%;
                max-width: container(#{$bp});
            }
        }
    }
    @media (max-width: 900px) {
        grid-template-areas: "a";
    }
}

.inside__container{
    grid-template-areas: 'a';
}

.column{
    margin: 0 5%;
}

header{
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
    
    nav{
        width: 100%;

        background: $primary;
        box-shadow: 0px 5px 10px rgba(100,100,100,0.5);

        padding: 5px 0;
        .desktop-menu{
            display: none;
        }
        .mobile-menu{
            position: fixed;
            top: 0;
            right: 0;

            width: 70vw;
            height: 100%;

            background: #303030;
            box-shadow: 10px 10px 100px #303030;

            transform: translateX(100vw);
            transition: transform 0.3s ease-in-out;

            display: grid;
            justify-content: center;
            align-items: center;

            z-index: 0;
            ul{
                display: grid;
                gap: 2rem;

                list-style: none;
                padding: 0;
                li{
                    text-align: center;
                    a{
                        font-size: 20pt;
                        color: $secondary;
                        button{
                            padding: 10px 12px;
                            
                            background: $secondary;
                            border-radius: 4px;
                            border: none;

                            font-family: $primaryFont;
                            font-size: 14pt;
                            font-weight: 500;

                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .mobile-menu.active{
            transform: translateX(0);
        }
    
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 5px;
        grid-auto-rows: 50px;
        align-items: center;
    
        .brand{
            grid-column: span 3;

            display: flex;
            text-align: left;
            align-items: center;

            font-size: 32px;
            font-family: $secondaryFont;
            color: $secondary;
            font-weight: 900;
            letter-spacing: 1px;

            padding-left: 5%;
        }
    
        .cv-btn{
            border-radius: 4px;
            background: $secondary;

            width: 70px;
            height: 35px;

            display: flex;
            align-items: center;
            justify-content: center;
            grid-column: span 1;
            
            margin: 0 auto;
            span{
                font-size: 24px;
                color: $primary;
                font-family: $primaryFont;
                font-weight: 900;    
            }
        }
    
        .hamburger-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            grid-column: span 1;

            width: 100%;

            z-index: 2;
            .hamburger{
                height: 35px;
                width: 35px;
                border-radius: 50% 50%;
                background-color: $secondary;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                cursor: pointer;

                position: relative;
                .line{
                    height: 2px;
                    width: 60%;
                    background: $primary;
                    border-radius: 5px;

                    position: relative;

                    transition: all .3s ease;
                    &.top{
                        top: 7.5px;
                    }
                    &.bottom{
                        bottom: 8.5px;
                    }
                }
                &.toggle{
                    .line{
                        &.top{
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%) rotate(45deg);
                        }
                        &.mid{
                            transform: translateX(100%);
                            opacity: 0;
                        }
                        &.bottom{
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%) rotate(-45deg);
                        }
                    }
                }
    
            }
    
        }
    
    }
}

main{
    position: relative;
    top: 50px;

    display: grid;
    gap: 10rem;

    transition: transform 0.3s ease-in-out;
    section.intro{
        .container{
            .column{
                i{  
                    width: 100%;

                    font-size: 72px;
                    color: $primary;
                    text-shadow: 4px 4px 0px rgba($color: $primary, $alpha: .25);
                    &:nth-child(1){
                        margin-bottom: 15px;
                        text-align: right;
                    }
                }
                p{   
                    font-weight: 500;
                    font-size: clamp(18pt, 2.5vw, 30pt);
                    span{
                        font-size: clamp(72pt, 15vw, 128pt);
                        font-weight: 900;
                        font-family: $primaryFont;
                        text-shadow: 5px 5px rgba($color: $primary, $alpha: .25);
                    }
                }
                .button-group{
                    width: 100%;
                    display: grid;
                    justify-items: end;
                    gap: 1.5rem;
                    grid-template-areas: "a" / 10px;
                    @media (min-width: 600px) {
                        grid-template-areas: "a a";
                    }
                    .btn{
                        min-width: 175px;
                        width: 70%;
                        max-width: 300px;
    
                        min-height: 50px;
                        height: 100%;
    
                        border-radius: 4px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        margin: 0;
                        span{
                            padding: 10px 0;
                            font-size: clamp(16pt, 1vw, 20pt);
                            font-family: $primaryFont;
                            font-weight: 700;
                        }
    
                        box-shadow: 7.5px 7.5px rgba(100,100,100,0.5);
    
                        &:nth-child(1){
                            background: $primary;
                            span{
                                color: $secondary;
                            }
                        }
                        &:nth-child(2){
                            border: 1px solid $primary;
                            span{
                                color: $primary;
                            }
                        }
                    }
    
                }
            }
        }
    }
    section.about{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        .band{
            width: 100%;
            height: auto;

            background: $primary;
            .container{
                @media (max-width: 900px) {
                    gap: 0;
                }
                .column{
                    color: $secondary;
                    img{
                        position: relative;
                        top: -7.5em;

                        border-radius: 4px;
                        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, inset 0px 0px 50px rgba(0,0,0,0.75);
                        //box-shadow: 10px 10px rgba(0,0,0,0.75),10px 10px 10px rgba(0,0,0,0.75),inset 0px 0px 50px rgba(0,0,0,0.75);
                        
                        width: 100%;
                        max-width: 500px;
                        min-width: 180px;
                        height: auto;
                        @media (max-width: 900px) {
                            max-width: 300px;
                            top: -2.5em;
                        }
                    }
                    h1{
                        font-family: $primaryFont;
                        font-weight: 900;
                        font-size: clamp(64pt, 15vw, 92pt);

                        margin: 0;
                    }
                    p{
                        font-size: clamp(14pt, 2.5vw, 18pt);
                        a{
                            text-decoration: underline;
                            color: $secondary;
                        }
                        @media (max-width: 900px) {
                            margin-bottom: 15%;
                        }
                    }
                }
            }
        }
        .inside__container{
            justify-content: center;
            text-align: center;

            gap: 2.5%;
            .wrapper{
                display: flex;
                flex-direction: column;

                color: $secondary;
                padding: 0 2rem;
                .icon-wrapper{
                    margin: 15px 0;

                    background: $primary;
                    border-radius: 4px;

                    height: 125px;
                    width: 80%;
                    max-width: 125px;

                    display: grid;
                    align-items: center;
                    justify-self: center;
                    align-self: center;
                    i{
                        font-size: 45pt;
                    }
                    p{
                        margin: -10px 10px 5px 10px;

                        font-family: $primaryFont;
                        font-weight: 700;
                    }
                }
                .text-wrapper{
                    height: auto;
                    width: 100%;

                    border-radius: 4px;
                    background: $primary;
                    
                    margin: 15px auto;
                    
                    font-size: clamp(14pt, 2.5vw, 20pt);
                    font-family: $secondaryFont;

                    display: flex;
                    align-items: center;
                    p{
                        margin: 15px;
                    }
                }
                @media (min-width: 900px) {
                    flex-direction: row;
                    .icon-wrapper{
                        margin: 0px 25px;
                    }
                    .text-wrapper{
                        margin: 0px 25px;
                        text-align: left;
                    }
                }
            }
            .icons__container{
                width: 100%;
                height: 75px;

                display: flex;
                justify-content: space-between;
                i{  
                    margin: 0 2rem;

                    font-size: 72px;
                    color: $primary;
                    text-shadow: 4px 4px 0px rgba($color: $primary, $alpha: .25);
                }
            }
        }
    }
}

footer{
    position: relative;
    top: 27.5em;

    background: $primary;
    color: $secondary;

    transition: transform 0.3s ease-in-out;
    .container{
        grid-auto-columns: 2fr 1fr;
        gap: .25rem;
        margin-bottom: 5em;
        .column{
            padding: 0 .5em;
            h1{
                font-weight: 900;
                font-size: clamp(64pt, 2.5vw, 128pt);
                line-height: 1.2em;

                margin: 0.5em 0 0.25em 0;
            }
            form{
                padding: 0;
                margin: 10px 0;

                display: grid;
                grid-auto-rows: auto;

                width: 90%;
                min-width: none;
                .input-group{
                    width: 100%;

                    position: relative;
                    margin: 1rem 0;
                    .input-tag{
                        position: absolute;
                        top: -1rem;
                        left: 1.5rem;

                        background: $primary;
                        color: $secondary;
                        border-radius: 8px;
                        border: 2px solid $secondary;

                        padding: 8px 12px;
                        span{
                            font-family: $primaryFont;
                            font-weight: 900;
                            font-size: clamp(10pt, 2.5vw, 14pt);
                        }
                    }
                    input,
                    textarea{
                        width: 100%;
                        background: $secondary;

                        border: 2px solid $primary;
                        border-radius: 8px;

                        font-size: clamp(12pt, 1.5vw, 16pt);
                        font-family: $secondaryFont;
                    }
                    input[type="email"]{
                        padding: 18px 12px;
                        text-align: center;
                    }
                    textarea{
                        padding: 32px 12px 8px;
                        resize: none;
                    }
                }
                button[type="submit"]{
                    display: flex;
                    justify-content: center;
                    align-self: center;

                    width: calc(24px + 100%);

                    padding: 10px 12px;
                    margin: 20px auto;

                    background: $secondary;
                    color: $primary;
                    border-radius: 4px;
                    border: none;
                    box-shadow: 10px 10px 0px rgba($color: $secondary, $alpha: .25);

                    font-family: $primaryFont;
                    color: $primary;
                    font-weight: 900;
                    font-size: clamp(14pt, 2.5vw, 18pt);

                    cursor: pointer;
                }
                @media (max-width: 340px) {
                    width: 80%;
                }
            }
            .info-wrapper{
                p{
                    font-family: $secondaryFont;
                    font-weight: 400;
                    font-size: clamp(16pt, 2.5vw, 20pt);
                    a{
                        color: rgba($color: $secondary, $alpha: .5);
                        text-decoration: underline;
                    }
                }
            }
            .social-wrapper{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 5%;
                margin: 3em 1em;
                i{
                    color: $secondary;
                    font-size: clamp(64pt, 1.5vw, 128pt);
                    text-shadow: 10px 10px 0px rgba($color: $secondary, $alpha: .25);
                }
                @media (max-width: 400px) {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 2rem;
                }
            }
            .bottom{
                width: 100%;
                a .cv-btn{
                    cursor: pointer;
                    width: 100%;

                    padding: 20px 0px;
    
                    border-radius: 8px;
                    border: 0px;
                    background: $secondary;
                    box-shadow: 15px 15px 0px rgba($color: $secondary, $alpha: .25);
                    
                    font-family: $primaryFont;
                    font-weight: 900;
                    font-size: clamp(16pt, 2.5vw, 20pt);
                }
                address{
                    margin: 3em 0;
                    a{
                        font-size: clamp(14pt, 2.5vw, 18pt);
                        color: $secondary;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .foot{
        background: #191919;
        padding: 2rem;
        .inside__container{
            grid-template-columns: none;
            a{
                color: $secondary;
                blockquote{
                    font-family: $primaryFont;
                    font-weight: 900;
                    font-style: italic;
                    font-size: clamp(14pt, 2.5vw, 20pt);
                    span{
                        font-family: $secondaryFont;
                        font-weight: 400;
                        font-style: normal;
                    }
                }
            }
        }
    }
}

header.pushed,
main.pushed,
footer.pushed{
    transform: translateX(-70vw);
}