@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  color: #272727;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

blockquote {
  margin: 0;
}

a {
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

section {
  margin: 50px 0;
  height: auto;
  width: 100vw;
}

.container,
.inside__container,
.nav__container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "a a";
  align-items: center;
  gap: 10%;
}
.container,
.inside__container,
.nav__container {
  margin: 0 auto;
}
@media only screen and (min-width: 600px) {
  .container,
.inside__container,
.nav__container {
    width: 100%;
    max-width: 570px;
  }
}
@media only screen and (min-width: 900px) {
  .container,
.inside__container,
.nav__container {
    width: 100%;
    max-width: 860px;
  }
}
@media only screen and (min-width: 1200px) {
  .container,
.inside__container,
.nav__container {
    width: 100%;
    max-width: 1150px;
  }
}
@media only screen and (min-width: 1800px) {
  .container,
.inside__container,
.nav__container {
    width: 100%;
    max-width: 1400px;
  }
}
@media only screen and (min-width: 2400px) {
  .container,
.inside__container,
.nav__container {
    width: 100%;
    max-width: 2200px;
  }
}
@media (max-width: 900px) {
  .container,
.inside__container,
.nav__container {
    grid-template-areas: "a";
  }
}

.inside__container {
  grid-template-areas: "a";
}

.column {
  margin: 0 5%;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}
header nav {
  width: 100%;
  background: #272727;
  box-shadow: 0px 5px 10px rgba(100, 100, 100, 0.5);
  padding: 5px 0;
}
header nav .nav__container {
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  align-items: center;
}
header nav .nav__container .desktop-menu {
  display: none;
}
header nav .nav__container .mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 70vw;
  height: 100%;
  background: #303030;
  box-shadow: 10px 10px 100px #303030;
  transform: translateX(100vw);
  transition: transform 0.3s ease-in-out;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
header nav .nav__container .mobile-menu ul {
  display: grid;
  gap: 2rem;
  list-style: none;
  padding: 0;
}
header nav .nav__container .mobile-menu ul li {
  text-align: center;
}
header nav .nav__container .mobile-menu ul li a {
  font-size: 20pt;
  color: #f0f8ff;
}
header nav .nav__container .mobile-menu ul li a button {
  padding: 10px 12px;
  background: #f0f8ff;
  border-radius: 4px;
  border: none;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 14pt;
  font-weight: 500;
  cursor: pointer;
}
header nav .nav__container .mobile-menu.active {
  transform: translateX(0);
}
header nav .nav__container .brand {
  grid-column: span 3;
  display: flex;
  text-align: left;
  align-items: center;
  font-size: clamp(20pt, 2.5vw, 32pt);
  font-family: "IBM Plex Sans", sans-serif;
  color: #f0f8ff;
  font-weight: 900;
  letter-spacing: 1px;
  padding-left: 5%;
}
header nav .nav__container .cv-btn__wrapper {
  display: none;
}
header nav .nav__container .cv-btn__wrapper .cv-btn {
  border-radius: 4px;
  border: none;
  background: #f0f8ff;
  width: 70%;
  max-width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 12px;
  font-size: clamp(10pt, 1.5vw, 16pt);
  color: #272727;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 900;
  cursor: pointer;
  transition: background 0.3s ease;
}
header nav .nav__container .cv-btn__wrapper .cv-btn:hover {
  background: rgba(240, 248, 255, 0.75);
}
@media (min-width: 700px) {
  header nav .nav__container .cv-btn__wrapper {
    display: block;
  }
}
header nav .nav__container .hamburger-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 1;
  width: 100%;
  z-index: 2;
}
header nav .nav__container .hamburger-wrapper .hamburger {
  height: 35px;
  width: 35px;
  border-radius: 50% 50%;
  background-color: #f0f8ff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
header nav .nav__container .hamburger-wrapper .hamburger .line {
  height: 2px;
  width: 60%;
  background: #272727;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s ease;
}
header nav .nav__container .hamburger-wrapper .hamburger .line.top {
  top: 7.5px;
}
header nav .nav__container .hamburger-wrapper .hamburger .line.bottom {
  bottom: 8.5px;
}
header nav .nav__container .hamburger-wrapper .hamburger.toggle .line.top {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
header nav .nav__container .hamburger-wrapper .hamburger.toggle .line.mid {
  transform: translateX(100%);
  opacity: 0;
}
header nav .nav__container .hamburger-wrapper .hamburger.toggle .line.bottom {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
@media (min-width: 700px) {
  header nav .nav__container {
    grid-template-columns: repeat(5, 1fr);
  }
  header nav .nav__container .mobile-menu,
header nav .nav__container .mobile-menu.active,
header nav .nav__container .hamburger-wrapper {
    display: none;
  }
  header nav .nav__container .brand {
    grid-column: span 2;
  }
  header nav .nav__container .desktop-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: end;
    grid-column: span 2;
    padding: 0;
    width: 100%;
    max-width: 500px;
  }
  header nav .nav__container .desktop-menu li a {
    font-size: clamp(12pt, 1.5vw, 18pt);
    color: #f0f8ff;
    transition: color 0.3s ease;
  }
  header nav .nav__container .desktop-menu li a:hover {
    color: rgba(240, 248, 255, 0.75);
  }
}

main {
  position: relative;
  top: 50px;
  display: grid;
  gap: 10rem;
  transition: transform 0.3s ease-in-out;
}
main section.intro .container .column i {
  width: 100%;
  font-size: 72px;
  color: #272727;
  text-shadow: 4px 4px 0px rgba(39, 39, 39, 0.25);
}
main section.intro .container .column i:nth-child(1) {
  margin-bottom: 15px;
  text-align: right;
}
main section.intro .container .column p {
  font-weight: 500;
  font-size: clamp(18pt, 2.5vw, 30pt);
}
main section.intro .container .column p span {
  font-size: clamp(72pt, 15vw, 128pt);
  font-weight: 900;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  text-shadow: 5px 5px rgba(39, 39, 39, 0.25);
}
main section.intro .container .column .button-group {
  width: 100%;
  display: grid;
  justify-items: end;
  gap: 1.5rem;
  grid-template-areas: "a"/10px;
}
@media (min-width: 600px) {
  main section.intro .container .column .button-group {
    grid-template-areas: "a a";
  }
}
main section.intro .container .column .button-group .btn {
  min-width: 175px;
  width: 70%;
  max-width: 300px;
  min-height: 50px;
  height: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 7.5px 7.5px rgba(100, 100, 100, 0.5);
}
main section.intro .container .column .button-group .btn span {
  padding: 10px 0;
  font-size: clamp(16pt, 1vw, 20pt);
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 700;
}
main section.intro .container .column .button-group .btn:hover {
  box-shadow: 0px 0px 20px rgba(100, 100, 100, 0.75);
}
main section.intro .container .column .button-group .btn:nth-child(1) {
  background: #272727;
}
main section.intro .container .column .button-group .btn:nth-child(1) span {
  color: #f0f8ff;
}
main section.intro .container .column .button-group .btn:nth-child(1):hover {
  background: rgba(39, 39, 39, 0.8);
}
main section.intro .container .column .button-group .btn:nth-child(2) {
  border: 1px solid #272727;
}
main section.intro .container .column .button-group .btn:nth-child(2) span {
  color: #272727;
}
main section.intro .container .column .button-group .btn:nth-child(2):hover {
  background: rgba(39, 39, 39, 0.05);
}
main section.about {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
main section.about .band {
  width: 100%;
  height: auto;
  background: #272727;
}
@media (max-width: 900px) {
  main section.about .band .container {
    gap: 0;
  }
}
main section.about .band .container .column {
  color: #f0f8ff;
}
main section.about .band .container .column img {
  position: relative;
  top: -7.5em;
  border-radius: 4px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, inset 0px 0px 50px rgba(0, 0, 0, 0.75);
  width: 100%;
  max-width: 500px;
  min-width: 180px;
  height: auto;
}
@media (max-width: 900px) {
  main section.about .band .container .column img {
    max-width: 300px;
    top: -2.5em;
  }
}
main section.about .band .container .column h1 {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 900;
  font-size: clamp(64pt, 15vw, 92pt);
  margin: 0;
}
main section.about .band .container .column p {
  font-size: clamp(14pt, 2.5vw, 18pt);
}
main section.about .band .container .column p a {
  text-decoration: underline;
  color: #f0f8ff;
  transition: color 0.3s ease;
}
main section.about .band .container .column p a:hover {
  color: rgba(240, 248, 255, 0.75);
}
@media (max-width: 900px) {
  main section.about .band .container .column p {
    margin-bottom: 15%;
  }
}
main section.about .inside__container {
  justify-content: center;
  text-align: center;
  gap: 2.5%;
}
main section.about .inside__container .wrapper {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: column;
  color: #f0f8ff;
  padding: 0 2rem;
}
main section.about .inside__container .wrapper .icon-wrapper {
  margin: 15px 0;
  background: #272727;
  border-radius: 4px;
  height: 125px;
  width: 80%;
  max-width: 125px;
  display: grid;
  align-items: center;
  justify-self: center;
  align-self: center;
}
main section.about .inside__container .wrapper .icon-wrapper i {
  font-size: 45pt;
}
main section.about .inside__container .wrapper .icon-wrapper p {
  margin: -10px 10px 5px 10px;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 700;
}
main section.about .inside__container .wrapper .text-wrapper {
  height: auto;
  width: 100%;
  border-radius: 4px;
  background: #272727;
  margin: 15px auto;
  font-size: clamp(14pt, 2.5vw, 20pt);
  font-family: "IBM Plex Sans", sans-serif;
  display: flex;
  align-items: center;
}
main section.about .inside__container .wrapper .text-wrapper p {
  margin: 15px;
}
@media (min-width: 900px) {
  main section.about .inside__container .wrapper {
    flex-direction: row;
  }
  main section.about .inside__container .wrapper .icon-wrapper {
    margin: 0px 25px;
  }
  main section.about .inside__container .wrapper .text-wrapper {
    margin: 0px 25px;
    text-align: left;
  }
}
main section.about .inside__container .icons__container {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
}
main section.about .inside__container .icons__container i {
  margin: 0 2rem;
  font-size: 72px;
  color: #272727;
  text-shadow: 4px 4px 0px rgba(39, 39, 39, 0.25);
}

footer {
  position: relative;
  top: 27.5em;
  background: #272727;
  color: #f0f8ff;
  transition: transform 0.3s ease-in-out;
}
footer .container {
  grid-auto-columns: 2fr 1fr;
  gap: 0.25rem;
  margin-bottom: 5em;
}
footer .container .column {
  padding: 0 0.5em;
}
footer .container .column h1 {
  font-weight: 900;
  font-size: clamp(64pt, 2.5vw, 128pt);
  line-height: 1.2em;
  margin: 0.5em 0 0.25em 0;
  cursor: default;
}
footer .container .column form {
  padding: 0;
  margin: 10px 0;
  display: grid;
  grid-auto-rows: auto;
  width: 90%;
  min-width: none;
}
footer .container .column form .input-group {
  width: 100%;
  position: relative;
  margin: 1rem 0;
}
footer .container .column form .input-group .input-tag {
  position: absolute;
  top: -1rem;
  left: 1.5rem;
  background: #272727;
  color: #f0f8ff;
  border-radius: 8px;
  border: 2px solid #f0f8ff;
  padding: 8px 12px;
}
footer .container .column form .input-group .input-tag span {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 900;
  font-size: clamp(10pt, 2.5vw, 14pt);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
footer .container .column form .input-group input,
footer .container .column form .input-group textarea {
  width: 100%;
  background: #f0f8ff;
  border: 2px solid #f0f8ff;
  border-radius: 8px;
  font-size: clamp(12pt, 1.5vw, 16pt);
  font-family: "IBM Plex Sans", sans-serif;
  transition: background 0.3s ease;
}
footer .container .column form .input-group input:is(:hover, :focus, :active),
footer .container .column form .input-group textarea:is(:hover, :focus, :active) {
  background: rgba(240, 248, 255, 0.75);
}
footer .container .column form .input-group input[type=email] {
  padding: 18px 12px;
  text-align: center;
}
footer .container .column form .input-group textarea {
  padding: 32px 12px 8px;
  resize: none;
}
footer .container .column form .input-group input:is(:focus, :active),
footer .container .column form .input-group textarea:is(:focus, :active) {
  outline: none;
  box-shadow: none;
}
footer .container .column form button[type=submit] {
  display: flex;
  justify-content: center;
  align-self: center;
  width: calc(24px + 100%);
  padding: 10px 12px;
  margin: 20px auto;
  background: #f0f8ff;
  color: #272727;
  border-radius: 4px;
  border: none;
  box-shadow: 10px 10px 0px rgba(240, 248, 255, 0.25);
  font-family: "IBM Plex Sans Condensed", sans-serif;
  color: #272727;
  font-weight: 900;
  font-size: clamp(14pt, 2.5vw, 18pt);
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}
footer .container .column form button[type=submit]:hover {
  box-shadow: 0px 0px 10px rgba(240, 248, 255, 0.25);
  background: rgba(240, 248, 255, 0.75);
}
@media (max-width: 340px) {
  footer .container .column form {
    width: 80%;
  }
}
footer .container .column .info-wrapper p {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: clamp(16pt, 2.5vw, 20pt);
}
footer .container .column .info-wrapper p a {
  color: rgba(240, 248, 255, 0.5);
  text-decoration: underline;
  transition: color 0.3s ease;
}
footer .container .column .info-wrapper p a:hover {
  color: #f0f8ff;
}
footer .container .column .social-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5%;
  margin: 3em 1em;
}
footer .container .column .social-wrapper i {
  color: #f0f8ff;
  font-size: clamp(64pt, 1.5vw, 128pt);
  text-shadow: 10px 10px 0px rgba(240, 248, 255, 0.25);
  transition: color 0.3s ease, text-shadow 0.3s ease;
}
footer .container .column .social-wrapper i:hover {
  color: rgba(240, 248, 255, 0.75);
  text-shadow: 0px 0px 10px rgba(240, 248, 255, 0.25);
}
@media (max-width: 400px) {
  footer .container .column .social-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
footer .container .column .bottom {
  width: 100%;
}
footer .container .column .bottom a .cv-btn {
  cursor: pointer;
  width: 100%;
  padding: 20px 0px;
  border-radius: 8px;
  border: 0px;
  background: #f0f8ff;
  box-shadow: 15px 15px 0px rgba(240, 248, 255, 0.25);
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 900;
  font-size: clamp(16pt, 2.5vw, 20pt);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}
footer .container .column .bottom a .cv-btn:hover {
  box-shadow: 0px 0px 15px rgba(240, 248, 255, 0.25);
  background: rgba(240, 248, 255, 0.75);
}
footer .container .column .bottom address {
  margin: 3em 0;
}
footer .container .column .bottom address a {
  font-size: clamp(14pt, 2.5vw, 18pt);
  color: #f0f8ff;
  text-decoration: underline;
  transition: color 0.3s ease;
}
footer .container .column .bottom address a:hover {
  color: rgba(240, 248, 255, 0.5);
}
footer .foot {
  background: #191919;
  padding: 2rem;
}
footer .foot .inside__container {
  grid-template-columns: none;
}
footer .foot .inside__container a {
  color: #f0f8ff;
}
footer .foot .inside__container a blockquote {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: clamp(14pt, 2.5vw, 20pt);
}
footer .foot .inside__container a blockquote span {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main.pushed,
footer.pushed {
  transform: translateX(-70vw);
}
@media (min-width: 700px) {
  main.pushed main.pushed,
main.pushed footer.pushed,
footer.pushed main.pushed,
footer.pushed footer.pushed {
    transform: translateX(0vw);
  }
}/*# sourceMappingURL=index.css.map */